:root {
    --colorSecondary: #e0e0e0;
}

body {
    font-size: 250%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

table {
    font-size: 60%;
    text-align: center;
    width: 70%;
    border-style: none;
}

th {
    height: 50px;
    border-style: none;
}

td {
    height: 30px;
    border-style: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even) {
    background-color: var(--colorSecondary);
}

.clock {
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
    background-color: gainsboro;
    width: fit-content;
    border-radius: 25px;
    margin-bottom: 10px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    font-size: 40%;
    display: flex;
    justify-content: space-between;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--colorSecondary);
    font-size: 40%;
    display: flex;
    justify-content: space-between;
}

.left {
    padding-left: 5px;
}

.right {
    padding-right: 5px;
}

hr {
    border: .5px dashed;
}

#hr {
    background-color: white;
}

.unterueberschrift {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 100%;
    margin-bottom: 10px;
}

#placeholder {
    height: 60px;
    border-top: black dotted 2px;
}

#grey {
    background-color: var(--colorSecondary);
}

#settings {
    cursor: pointer;
    padding: 15px;
    background-color: var(--colorSecondary);
}